name: CI/CD (client/server)

on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: client install, build, and test
      working-directory: ./client
      run: |
        yarn install
        yarn lint
        yarn build
      env:
        CI: true
    - name: server install, build, and test
      working-directory: ./server
      run: |
        yarn install
        yarn lint
        yarn build
      env:
        CI: true

    - name: get version
      uses: pCYSl5EDgo/cat@master
      id: version
      with:
        path: docker/version.txt

    - run: echo $VERSION
      env:
        VERSION: ${{ steps.version.outputs.text }}
  
    - name: Release to GitHub
      uses: opspresso/action-release@master
      env:
        # https://github.community/t5/GitHub-Actions/Github-actions-workflow-not-triggering-with-tag-push/td-p/39685
        GITHUB_TOKEN: ${{ secrets.GITHUB_PAT }}
        TAG_NAME: ${{ steps.version.outputs.text }}
